@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700);
*, *:before, *:after {
  margin:0;
  padding:0;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
body {
  padding:3em 1em;
  z-index: 0;
  font-family: 'Ubuntu Mono', sans-serif;
  line-height:1.6em;
  color:white;
  background:#081421;
}
em {font-style:normal;font-size:1.2em;}
btn {font-style:normal;font-size:1.2em;text-align:center;margin:0 auto;}
i {font-style:normal;color:#00ff77;}
h1, h2, h3, h4, p, hr, li, .etc {
  width:100%;
  max-width:40rem;
  z-index: 0;
  margin:0 auto;
}
p {padding-bottom:1em;}
h1 {
  position:relative;
  padding:3rem 0 6rem 0;
  font-size:3em;
  line-height:1em;
  z-index: 0;
  font-weight:700;
  text-transform:uppercase;
  letter-spacing:5px;
}
h1:before {
  content:'\3C\21\2013\2013';
  position:absolute;
  top:0;
  left:0;
  z-index: 0;
  color:#00ff77;
}
h1:after {
  content:'\2013\2013\3E';
  position:absolute;
  bottom:3rem;
  z-index: 0;
  left:0;
  color:#fe0002;
}
hr {
  position:relative;
  padding:3rem 0;
  z-index: 0;
  border:none;
}
hr:before {
  content:'\2044\2217\2013\2013\2013\2013\2013\2217\2044';
  position:absolute;
  z-index: 0;
  top:1.2rem;
  right:0;
  left:0;
  font-size:1.5em;
  color:#0200fb;
  text-align:center;
}
.etc {
  position:relative;
  padding:6rem 0 1rem 0;
  text-align:center;
  color:#fe0002;
  z-index: 0;
}
.etc a {color:#fe0002;}
.etc:before {
  content:'\2022';
  z-index: 0;
  position:absolute;
  top:1rem;
  left:50%;
  color:white;
  text-shadow:0 1rem 0 white,
              0 2rem 0 white;
}
.filled-circle {
  padding: 2px 5px;
  border-radius: 100%;
  z-index: 0;
  background-color: #FFFFFF;
}

#load {
  position:absolute;
  z-index: 0;
  width:600px;
  height:36px;
  left:50%;
  top:25%;
  margin-left:-300px;
  overflow:visible;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  cursor:default;
}

#load div {
  position:absolute;
  width:20px;
  height:86px;
  opacity:0;
  z-index: 0;
  font-family:Helvetica, Arial, sans-serif;
  animation:move 2s linear infinite;
  -o-animation:move 2s linear infinite;
  -moz-animation:move 2s linear infinite;
  -webkit-animation:move 2s linear infinite;
  transform:rotate(180deg);
  -o-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  color:#35C4F0;
}

#load div:nth-child(2) {
  animation-delay:0.2s;
  -o-animation-delay:0.2s;
  -moz-animation-delay:0.2s;
  z-index: 0;
  -webkit-animation-delay:0.2s;
}
#load div:nth-child(3) {
  animation-delay:0.4s;
  -o-animation-delay:0.4s;
  -webkit-animation-delay:0.4s;
  -webkit-animation-delay:0.4s;
  z-index: 0;
}
#load div:nth-child(4) {
  animation-delay:0.6s;
  -o-animation-delay:0.6s;
  z-index: 0;
  -moz-animation-delay:0.6s;
  -webkit-animation-delay:0.6s;
}
#load div:nth-child(5) {
  animation-delay:0.8s;
  z-index: 0;
  -o-animation-delay:0.8s;
  -moz-animation-delay:0.8s;
  -webkit-animation-delay:0.8s;
}
#load div:nth-child(6) {
  animation-delay:1s;
  z-index: 0;
  -o-animation-delay:1s;
  -moz-animation-delay:1s;
  -webkit-animation-delay:1s;
}
#load div:nth-child(7) {
  animation-delay:1.2s;
  -o-animation-delay:1.2s;
  z-index: 0;
  -moz-animation-delay:1.2s;
  -webkit-animation-delay:1.2s;
}

@keyframes move {
  0% {
    left:0;
    z-index: 0;
    opacity:0;
  }
	35% {
		left: 41%; 
		-moz-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
    z-index: 0;
		-o-transform:rotate(0deg);
		transform:rotate(0deg);
		opacity:1;
	}
	65% {
		left:59%; 
		-moz-transform:rotate(0deg); 
		-webkit-transform:rotate(0deg); 
		-o-transform:rotate(0deg);
		transform:rotate(0deg); 
    z-index: 0;
		opacity:1;
	}
	100% {
		left:100%; 
		-moz-transform:rotate(-180deg); 
    z-index: 0;
		-webkit-transform:rotate(-180deg); 
		-o-transform:rotate(-180deg); 
		transform:rotate(-180deg);
		opacity:0;
	}
}

@-moz-keyframes move {
	0% {
		left:0; 
		opacity:0;
	}
	35% {
		left:41%; 
		-moz-transform:rotate(0deg); 
		transform:rotate(0deg);
    z-index: 0;
		opacity:1;
	}
	65% {
		left:59%; 
		-moz-transform:rotate(0deg); 
		transform:rotate(0deg);
    z-index: 0;
		opacity:1;
	}
	100% {
		left:100%; 
		-moz-transform:rotate(-180deg); 
		transform:rotate(-180deg);
		opacity:0;
    z-index: 0;
	}
}

@-webkit-keyframes move {
	0% {
		left:0; 
		opacity:0;
	}
	35% {
		left:41%; 
		-webkit-transform:rotate(0deg); 
		transform:rotate(0deg); 
		opacity:1;
    z-index: 0;
	}
	65% {
		left:59%; 
		-webkit-transform:rotate(0deg); 
		transform:rotate(0deg); 
		opacity:1;
    z-index: 0;
	}
	100% {
		left:100%;
		-webkit-transform:rotate(-180deg); 
		transform:rotate(-180deg); 
		opacity:0;
    z-index: 0;
	}
}

@-o-keyframes move {
	0% {
		left:0; 
		opacity:0;
	}
	35% {
		left:41%; 
		-o-transform:rotate(0deg); 
		transform:rotate(0deg); 
		opacity:1;
	}
	65% {
		left:59%; 
		-o-transform:rotate(0deg); 
		transform:rotate(0deg); 
		opacity:1;
	}
	100% {
		left:100%; 
		-o-transform:rotate(-180deg); 
		transform:rotate(-180deg); 
		opacity:0;
	}
}

@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';
  .container {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 0;
  display: flex;
}

.text {
  font-weight: 100;
  font-size: 28px;
  color: #fafafa;
  z-index: 0;
}

@media screen and (max-width: 320px) {
    .code-area {
		font-size: 5vw;
		min-width: auto;
        width: 95%;
		margin: auto;
		padding: 5px;
		padding-left: 10px;
    z-index: 0;
		line-height: 6.5vw;
    }
}
.main_button {
  position: relative;
  vertical-align: middle;
  background-color: #38497d;
  border: none;
  color: white;
  padding: 7px 18px;
  text-align: center;
  text-decoration: none;
  z-index: 0;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
      
}
.main_button:hover {
  position: relative;
  vertical-align: middle;
  background-color: #576cab; 
  z-index: 0;
  border: none;
  color: white;
  padding: 12px 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
	
}
.button {
  position: relative;
  vertical-align: middle;
  background-color: #38497d;
  border: none;
  z-index: 0;
  color: white;
  padding: 4px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
        
}
.button:hover {
  position: relative;
  vertical-align: middle;
  background-color: #576cab; 
  border: none;
  color: white;
  padding: 8px 24px;
  text-align: center;
  text-decoration: none;
  z-index: 0;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.lang_button {
  vertical-align: right;
  background-color: #38497d;
  border: none;
  color: white;
  padding: 2px 5px;
  text-align: right;
  z-index: 0;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  z-index: 0;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
        
}
.lang_button:hover {
  vertical-align: right;
  background-color: #576cab; 
  border: none;
  color: white;
  padding: 3px 6px;
  text-align: right;
  text-decoration: none;
  z-index: 0;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;
  cursor: pointer;
  z-index: 1;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.btn_en {
  right: 10px;
  position: absolute;
  z-index: 0;
}
.btn_de {
  right: 40px;
  position: absolute;
  z-index: 0;
}

.cookie-box {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  bottom: 0;
  text-align: center;
  padding: 1rem 2rem;
  background: #000011;
  transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
}
.cookie-box--hide {
  opacity: 0;
  bottom: -100%;
  z-index: 1;
}

.cookie-button {
  display: inline-block;
  cursor: pointer;
  padding: 0.65rem 0.85rem;
  margin-left: 0.45rem;
  color: #fff;
  transition-duration: 1.4s;
  font-size: 0.75rem;
  z-index: 2;
  letter-spacing: 1px;
  background-image: linear-gradient(62deg, #6894f1 0%, #0c3489 100%);
  text-decoration: none;
  z-index: 0;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.cookie-button:hover {
  display: inline-block;
  cursor: pointer;
  padding: 0.85rem 0.95rem;
  z-index: 2;
  margin-left: 0.45rem;
  color: #fff;
  transition-duration: 1.4s;
  font-size: 0.75rem;
  letter-spacing: 1px;
  background-image: linear-gradient(62deg, #0c3489 0%, #6894f1 100%);
  text-decoration: none;
  z-index: 0;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
